.button-mobile {
  display: none;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-header {
  min-height: 64px;
  padding: 8px 24px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.container {
  width: 100%;
  display: flex;
  padding: 20px 0;
  align-items: center;
  justify-content: center;

  .segment {
    padding: 0 20px;
    .block {
      text-align: center;

      .mat-form-field {
        min-width: 400px;
      }
    }
  }
}
.mat-header-row {
  position: sticky;
  top: 0;
  background: white;
  z-index: 9999;
}

.mat-column-name {
  height: 100px;
}

.paginator {
  width: 100%;
  background-color: unset;
}

.segment {
  width: 100%;
}

.button.mdc-button {
  min-width: unset !important;
}

@media screen and (max-width: 800px) {

  .mat-mdc-header-row {
    flex-wrap: wrap;
  }

  .mat-mdc-header-cell {
    width: 100%;
  }

  .button {
    display: none;
  }

  .button-mobile {
    display: block;

    margin-bottom: 22px;
  }

  .mat-mdc-table {
    border: 0;
    vertical-align: middle;
  }

  .toolabar {
  }

  .toolabar-row {
    display: flex;
    flex-flow: column;
    align-items: start;

    height: 100% !important;
  }

  .mat-mdc-table caption {
    font-size: 1em;
  }

  .mat-mdc-table .mat-mdc-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  
  .mat-mdc-table .mat-mdc-cell {
    min-height: unset;
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 8px;
  }
}
