<h2 mat-dialog-title>Сменить пароль пользователя</h2>
<mat-dialog-content [formGroup]="form" style="height: calc(100% - 96px);max-height: unset">
  <form ng-submit="submit()">

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[10] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="Введите пароль" formControlName="password">
  </mat-form-field>
  <mat-form-field class="example-full-width" style="margin-top:-10px;">
    <mat-label>{{ userColumnNames[11] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="Введите повтор пароля" formControlName="confirmPassword">
    <mat-error *ngIf="form.controls['password'].hasError('pattern')">
      Укажите пароль длиной от 8 до 20 символов, 
      содержащий хотя бы одну букву, одну цифру и специальный символ.
    </mat-error>
    <!-- <mat-error *ngIf="form.controls['confirmPassword'].errors?.['checkPasswords']"> -->
    <mat-error *ngIf="form.hasError('notSame')">
      Пароли не совпадают.
    </mat-error>
  </mat-form-field>
  
</form>

  <div style="margin-top: 70px;">
    <button mat-flat-button mat-dialog-close>Вернуться</button>
    <button mat-flat-button type="button" (click)="changePassword()" 
    [disabled]="form.hasError('notSame') || form.controls['password'].hasError('pattern') || form.controls['password'].hasError('required')"
    >Обновить пароль</button>
  </div>
  
</mat-dialog-content>