#login-container {
  display: flex;
  flex-direction: column;
  padding: 1.7em;
  width: 290px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.Sign-Up-btn {
  margin-top: 2.5em;
  height: 2.5em;
}

.Login-btn {
  margin-top: 2.5em;
  height: 2.5em;
  float: center;
}
.footer-sec {
  text-align: center;
}
.footer-sec a {
  text-decoration: none;
}

.example-full-width {
  width: 100%;
  margin-top: 20px;
}