.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
  margin-bottom: 20px;
}

#login-container {
  display: flex;
  flex-direction: column;
  padding: 1.7em;
  width: 375px;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.Sign-Up-btn {
  margin-top: 2.5em;
  height: 2.5em;
}

.Login-btn {
  margin-top: 2.5em;
  height: 2.5em;
  float: center;
}
.footer-first {
  text-align: center;
  margin-top: 50px;
}
.footer-sec {
  text-align: center;
}
