<div class="body">
  <form novalidate [formGroup]="form">
    <div id="login-container" class="mat-elevation-z8">
  
        <h2 class="primary" style="text-align: center;">Регистрация нового пользователя</h2>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Логин" formControlName="userName" required>
          <mat-error *ngIf="form.controls['userName'].hasError('required')">
            Введите логин. Длина не менее 6 символов.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ФИО" formControlName="fio" required>
          <mat-error *ngIf="form.controls['fio'].hasError('required')">
            Введите ФИО. Длина не менее 6 символов.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Название организации" formControlName="organization" required>
          <mat-error *ngIf="form.controls['organization'].hasError('required')">
            Введите название организации. Длина не менее 10 символов.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="ИНН организации" formControlName="inn" required>
          <mat-error *ngIf="form.controls['inn'].hasError('required')">
            Введите ИНН организации. Длина 10 или 12 символов. Только цифры.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Адрес организации" formControlName="address" required>
          <mat-error *ngIf="form.controls['address'].hasError('required')">
            Введите адрес организации. Длина не менее 10 и не боле 256 символов.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Номер телефона" formControlName="phoneNumber" required>
          <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
            Введите номер телефона. Длина не менее 11 символов.
          </mat-error>  
        </mat-form-field>
  
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Пароль" formControlName="password" required>
          <mat-error *ngIf="form.controls['password'].hasError('required')">
            Введите пароль. Длина не менее 6 и не более 18 символов.
          </mat-error>  
        </mat-form-field>

        <div class="footer-sec">
          <button mat-raised-button type="submit" color="primary" class="Login-btn" (click)="submit()">Зарегистрироваться</button>
        </div>

        <div class="footer-sec">
          <br>
          <br>
          <hr>
          <button mat-button type="button" class="Sign-Up-btn" (click)="backToHome()">Вернуться на главную</button>
          <br>
        </div>
      </div>
    </form>
  </div>
