<h2 mat-dialog-title>Просмотр заявки</h2>
<mat-dialog-content [formGroup]="form" style="height: calc(100% - 96px);max-height: unset">
  <form ng-submit="submit()">

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[0] }}</mat-label>
    <input matInput placeholder="{{order.id}}" value="{{order.id}}"  formControlName="id">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[1] }}</mat-label>
    <input matInput placeholder="{{order.date | date}}" value="{{order.date | date}}"  formControlName="date">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[2] }}</mat-label>
    <input matInput placeholder="{{order.state}}" value="{{order.state}}"  formControlName="state">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[3] }}</mat-label>
    <input matInput placeholder="{{order.status}}" value="{{order.status}}"  formControlName="status">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[4] }}</mat-label>
    <input matInput placeholder="{{order.snils}}" value="{{order.snils}}"  formControlName="snils">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[5] }}</mat-label>
    <input matInput placeholder="{{order.fio}}" value="{{order.fio}}"  formControlName="fio">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[6] }}</mat-label>
    <input matInput placeholder="{{order.contactData}}" value="{{order.contactData}}"  formControlName="contactData">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[7] }}</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.valueView}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[8] }}</mat-label>
    <input matInput placeholder="{{order.body}}" value="{{order.body}}"  formControlName="body">
  </mat-form-field>
  <div class="example-button-row" *ngIf="order.documents != null && order.documents.length > 0">
    <div class="example-full-width" *ngFor="let doc of order.documents">
      <button mat-button href="downloadDocscan(doc)">Приложение {{ doc.fileName }}</button>
    </div>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[10] }}</mat-label>
    <input matInput placeholder="{{order.supportMeasures}}" value="{{order.supportMeasures}}"  formControlName="supportMeasures">
  </mat-form-field>

</form>
  <button mat-flat-button mat-dialog-close>Вернуться</button>
  <button mat-flat-button type="button" (click)="sendOrder()" *ngIf="order.state == 0">Отправить заявку</button>
  <button mat-flat-button type="button" (click)="declineOrder()" *ngIf="order.state == 0 || order.state == 1">Отменить заявку</button>
  <button mat-flat-button type="button" (click)="doubleOrder()" *ngIf="order.state != 0 && order.state != 1">Дублировать заявку</button>
  <hr>
  <button mat-flat-button type="button"  (click)="saveOrder()" *ngIf="order.state == 0 || order.id == null">Сохранить заявку</button>
</mat-dialog-content>