<h2 mat-dialog-title>Просмотр заявки</h2>
<mat-dialog-content [formGroup]="form" style="height: calc(100% - 96px);max-height: unset">
  <form ng-submit="submit()">

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[0] }}</mat-label>
    <input matInput placeholder="{{order.id}}" value="{{order.id}}"  formControlName="id">
    <mat-error *ngIf="form.controls['id'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[1] }}</mat-label>
    <input matInput placeholder="{{order.date | date}}" value="{{order.date | date}}"  formControlName="date">
    <mat-error *ngIf="form.controls['date'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[2] }}</mat-label>
    <input matInput placeholder="{{order.state}}" value="{{order.state}}"  formControlName="state">
    <mat-error *ngIf="form.controls['state'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[3] }}</mat-label>
    <input matInput placeholder="{{order.status}}" value="{{order.status}}"  formControlName="status">
    <mat-error *ngIf="form.controls['status'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[4] }}</mat-label>
    <input matInput placeholder="{{order.snils}}" value="{{order.snils}}"  formControlName="snils">
    <mat-error *ngIf="form.controls['snils'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[5] }}</mat-label>
    <input matInput placeholder="{{order.fio}}" value="{{order.fio}}"  formControlName="fio">
    <mat-error *ngIf="form.controls['fio'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[6] }}</mat-label>
    <input matInput placeholder="{{order.contactData}}" value="{{order.contactData}}"  formControlName="contactData">
    <mat-error *ngIf="form.controls['contactData'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[7] }}</mat-label>
    <mat-select formControlName="type">
      <mat-option *ngFor="let type of types" [value]="type.value">
        {{type.valueView}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[8] }}</mat-label>
    <input matInput placeholder="{{order.body}}" value="{{order.body}}"  formControlName="body">
  </mat-form-field>
  <div class="example-button-row" *ngIf="order.documents != null && order.documents.length > 0">
    <div class="example-full-width" *ngFor="let doc of order.documents">
      <button mat-button href="downloadDocscan(doc)">Приложение {{ doc.fileName }}</button>
    </div>
  </div>
  <div class="example-button-row" *ngIf="order.state === undefined">
    
		<mat-form-field style="width: 100%;">
			<mat-label>Прикрепить документы.</mat-label>
			<button mat-icon-button matPrefix (click)="f_input.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
			<input type="text" readonly matInput [formControl]="display" />
			<input
                type="file"
                multiple
                hidden
                #f_input
                (change)="handleFileInputChange(f_input.files)"
            />
			<mat-error>Вес файла должен быть менее 5 МБ.</mat-error>
		</mat-form-field>
  </div>

  <mat-form-field class="example-full-width">
    <mat-label>{{ orderColumnNames[10] }}</mat-label>
    <input matInput placeholder="{{order.supportMeasures}}" value="{{order.supportMeasures}}"  formControlName="supportMeasures">
  </mat-form-field>

</form>
  <button mat-flat-button mat-dialog-close>Вернуться</button>
  <button mat-flat-button type="button" (click)="sendOrder()" *ngIf="order.state == 0">Отправить заявку</button>
  <button mat-flat-button type="button" (click)="declineOrder()" *ngIf="order.state == 0 || order.state == 1">Отменить заявку</button>
  <button mat-flat-button type="button" (click)="doubleOrder()" *ngIf="order.state != 0 && order.state != 1">Дублировать заявку</button>
  <hr>
  <button mat-flat-button type="button"  (click)="saveOrder()" *ngIf="order.state == 0 || order.id == null">Сохранить заявку</button>
</mat-dialog-content>