<div class="body">
<form novalidate [formGroup]="loginForm">
  <div id="login-container" class="mat-elevation-z8">

      <h2 class="primary" style="text-align: center;">Вход в кабинет администратора</h2>

      <mat-form-field class="example-full-width">
        <input matInput placeholder="Логин" formControlName="userName" required>
        <mat-error *ngIf="loginForm.controls['userName'].hasError('required')">
          Введите логин
        </mat-error>

      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Пароль" [type]="hide ? 'password' : 'text'" formControlName="password"
          required>
        <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
          Введите пароль
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button type="button" class="Sign-Up-btn" (click)="register()">Регистрация</button>
        <button mat-raised-button type="button" color="primary" class="Login-btn" (click)="onLogin()">Войти</button>
      </div>

      <div class="footer-sec">
        <br>
        <hr>
        <button mat-button type="button" class="Sign-Up-btn" (click)="backToHome()">Вернуться на главную</button>
        <br>
      </div>
    </div>
  </form>
</div>