<div class="body">	
	<div id="login-container" class="mat-elevation-z8">

		<h2 class="primary" style="text-align: center;">Главная страница</h2>
		<div class="footer-sec">
		  <hr>
		  <button mat-button type="button" class="Sign-Up-btn" (click)="goToAdmin()">Войти в кабинет администратора</button>
		  <button mat-button type="button" class="Sign-Up-btn" (click)="goToOperator()">Войти в кабинет оператора</button>
		  <br>
		</div>
	</div>
</div>


<!-- <mat-card>
	<mat-card-content>
		<div class="button">
			<button mat-flat-button (click)="goToAdmin()">Войти в кабинет администратора</button>
		</div>
	
		<div class="button">
			<button mat-flat-button (click)="goToOperator()">Войти в кабинет оператора</button>
		</div>
	</mat-card-content>
</mat-card> -->