<h2 mat-dialog-title>Просмотр пользователя</h2>
<mat-dialog-content [formGroup]="form" style="height: calc(100% - 96px);max-height: unset">
  <form ng-submit="submit()">

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[0] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.userName}}" value="{{user.userName}}"  formControlName="userName">
    <mat-error *ngIf="form.controls['userName'].hasError('required')">
      Введите логин. Длина не менее 6 и не более 100 символов. Используйте только латинские символы.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="example-full-width">
    <mat-select [errorStateMatcher]="matcher" placeholder="{{ user.userRole }}" formControlName="userRole">
      <mat-option *ngFor="let role of availableRolesToChange" [value]="role.valueView">
        {{role.valueView}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['userRole'].hasError('required')">
      Выберите роль пользователя.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[2] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.fio}}" value="{{user.fio}}"  formControlName="fio">
    <mat-error *ngIf="form.controls['fio'].hasError('required')">
      Введите ФИО пользователя. Длина не менее 6 и не более 100 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[3] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.organization}}" value="{{user.organization}}"  formControlName="organization">
    <mat-error *ngIf="form.controls['organization'].hasError('required')">
      Введите наименование организации. Длина не менее 10 и не более 100 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[4] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.inn}}" value="{{user.inn}}"  formControlName="inn">
    <mat-error *ngIf="form.controls['inn'].hasError('inn')">
      Введите ИНН организации. Длина 10 или 12 символов. Только цифры.
    </mat-error>  
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[5] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.address}}" value="{{user.address}}"  formControlName="address">
    <mat-error *ngIf="form.controls['address'].hasError('required')">
      Введите адрес организации. Длина не менее 10 и не более 256 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[6] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.email}}" value="{{user.email}}"  formControlName="email">
    <mat-error *ngIf="form.controls['email'].hasError('required')">
      Введите электронную почту. Длина не менее 11 и не более 20 символов.
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>{{ userColumnNames[7] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{user.phoneNumber}}" value="{{user.phoneNumber}}"  formControlName="phoneNumber">
    <mat-error *ngIf="form.controls['phoneNumber'].hasError('required')">
      Введите номер телефона. Длина не менее 11 и не более 100 символов.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field *ngIf="user.userName == null" class="example-full-width">
    <mat-select [errorStateMatcher]="matcher" placeholder="{{userColumnNames[8]}}" formControlName="state">
      <mat-option *ngFor="let status of statuses" [value]="status.value">
        {{status.valueView}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="form.controls['state'].hasError('required')">
      Выберите статус пользователя.
    </mat-error>
  </mat-form-field>
  
  <mat-form-field *ngIf="user.userName != null" class="example-full-width">    
    <mat-label>{{ userColumnNames[8] }}</mat-label>
    <input matInput [errorStateMatcher]="matcher" placeholder="{{ statusPlaceholder.valueView }}" value="{{ statusPlaceholder.valueView }}" [disabled]="true">
  </mat-form-field>

  <mat-form-field class="example-full-width" *ngIf="user.userName == null || user.userName == ''">
    <mat-label>{{ userColumnNames[10] }}</mat-label>
    <input matInput placeholder="{{user.password}}" value="{{user.password}}"  formControlName="password">
    <mat-error *ngIf="form.controls['password'].hasError('required')">
      Введите пароль пользователя. Длина не менее 8 и не более 20 символов. 
      Должен содержать как минимум одну букву в верхнем регистре, одну цифру и один специальный символ
    </mat-error>
  </mat-form-field>
</form>

  <button mat-flat-button mat-dialog-close>Вернуться</button>
  <button mat-flat-button type="button"  (click)="declineUser()" *ngIf="user.state == userStates.Newly">Отклонить</button>
  <button mat-flat-button type="button" (click)="registerUser()" *ngIf="user.state == userStates.Newly">Зарегистрировать</button>
  <button mat-flat-button type="button" (click)="createUser()" *ngIf="user.userName == null">Завести нового пользователя</button>
  <button mat-flat-button type="button" (click)="blockUser()" *ngIf="user.state == userStates.Registered">Заблокировать</button>
  <button mat-flat-button type="button" (click)="changeUserPassword(user)" *ngIf="user.state == userStates.Registered">Сгенерировать пользователю временный пароль</button>
  <hr>
  <button mat-flat-button type="button" (click)="changeUser(user)" *ngIf="user.state == userStates.Registered || user.state == userStates.Denied">Изменить</button>
</mat-dialog-content>